.add {
  width: 100%;
  height: 100%;
}

h3 {
  width: 100%;
  line-height: 75px;
  font-size: 20px;
  color: black;
  font-weight: 400;
}

.wrapper {
  width: 100%;
  height: 100%;
  padding: 20px;
  box-sizing: border-box;
  overflow: auto;
}

.title {
  line-height: 50px;
  font-size: 25px;
}

.wrap {
  width: 100%;
  height: 100%;
  display: flex;
  flex-wrap: wrap;
  border: solid 1px #ccc;
}

.wrap_item {
  width: 33%;
  flex: auto;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  padding: 10px;
  box-sizing: border-box;
}

.wrap_item:nth-child(1),
.wrap_item:nth-child(2),
.wrap_item:nth-child(4),
.wrap_item:nth-child(5) {
  border-right: solid 1px #ccc;
}

.wrap_item:nth-child(1),
.wrap_item:nth-child(2),
.wrap_item:nth-child(3) {
  border-bottom: solid 1px #ccc;
}

.tits {
  height: 35px;
  margin: 10px 0 15px 0;
  display: flex;
}

.tits p {
  height: 35px;
  border: solid 1px #ccc;
  background: #fff;
  padding: 0 10px;
  box-sizing: border-box;
  line-height: 35px;
}

.tits p.active {
  border: solid 1px #1890ff;
  color: #1890ff;
}

.item_box {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
}

.show {
  display: block;
}

.hide {
  display: none;
}

.item_box input {
  width: 100%;
  height: 35px;
  border: solid 1px #ccc;
  padding: 0 8px;
  box-sizing: border-box;
  margin-top: 15px;
}

.item_box .select {
  width: 150px;
  height: 35px;
  margin-top: 15px;
}

.btns {
  margin-top: 200px;
  height: 35px;
  width: 100%;
  margin-top: 15px;
  display: flex;
  display: inline-block;
}

.sure {
  width: 110px;
  height: 32px;
  margin-right: 10px;
  background: linear-gradient(-90deg, #4e75ff, #0139fd) !important;
  color: #fff;
  border: none;
  margin-top: 1px;
}

.reset {
  margin-top: 1px;
  width: 80px;
  height: 32px;
  background: #fff;
  border: solid 1px #ccc;
}
